html{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
    
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
}

h1{
    font-size: 2.25rem;
    color: #fff;
    
}

h2{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 700;
}

h3{
    margin: 0;
    font-size: 0.8rem;
    font-weight: 700;
}

h4 {
    margin: 0.6rem;
}


h5{
    color: rgba(2, 162, 143, 1);
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0.6rem;
}

h6{
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0.6rem;
}




p{
    margin: 0;
    font-size: 0.8rem;
    color: rgba(97, 97, 97, 1);
    padding-top: 0.5rem;
    padding-left: 0.75rem;
}

#font-h6 {
    margin-left: 0.6rem;
}

#imagemtopo{
    padding-top: 1.2rem;
    padding-left: 9.3rem;
    margin: 0;
}


.parte1{
    background-color:#02A28F;
    padding-left: 13.1rem;
    padding-top: 0.18rem;
    padding-bottom: 0.18rem;
    margin: 0;
}

.parte1 h1 {
    margin: 0.6rem;
}

.retangulo-verde{
    background-color: #02A28F;
    color: #fff;
    padding: 0.93rem;
    margin: 0;
    border-radius: 0.6rem;
    box-shadow: 0.5rem 0.25rem 0.5rem 0.06rem rgba(0, 0, 0, 0.2);
    
}

.retangulo-verde-recentes{
    background-color: #02A28F;
    color: #fff;
    padding: 0.93rem;
    margin: 0;
    border-radius: 0.6rem;
    box-shadow: 0.5rem 0.25rem 0.5rem 0.06rem rgba(0, 0, 0, 0.2);
    
}

#texto-posts1{
    padding-top: 0.81rem;
    padding-right: 1.87rem;
    padding-left: 0.75rem;
}


.parte2{ 
    display: flex;
    justify-content: center; /* centraliza os dois blocos horizontalmente */
    gap: 2.5rem; /* espaço entre imagem e posts populares */
    padding: 1.25rem 0 0 0; /* espaço vertical opcional */

}


.imagemtopo {
    position: relative;
    width: 80%; /* define largura fixa para manter o layout equilibrado */
}

.imagemtopo img {
    width: 70%;
    height: auto;
    display: block;
}
  

.parte2-1{
    padding-top: 1.75rem;
    padding-right: 9.37rem;
    display:flex;
    flex-direction: column;
    gap: 1.25rem;
    max-width: 21.9rem;

}

.retangulo-posts{ 
    display: flex;
    box-shadow: 0.5rem 0.25rem 0.5rem 0.06rem rgba(0, 0, 0, 0.2);
    border-radius: 0.6rem;
    padding: 0.75rem;
    
    
}

.parte3 {
    display: flex;
    justify-content: center; /* centraliza os dois blocos horizontalmente */
    gap: 2.5rem; /* espaço entre imagem e posts populares */
    padding: 1.25rem 0 0 0; /* espaço vertical opcional */
    align-items: flex-start; /* garante que fiquem alinhados no topo */
  
}
    
.parte3 .retangulo-verde {
    width: auto;
    margin-left: 11.87rem;
    
}

.parte3 .retangulo-verde-recentes {
    display: flex;
    justify-content: space-between;
    align-items: center; /* opcional, alinha verticalmente */
    padding: 0 1rem;     /* opcional, espaço interno */
    width: auto;
    margin-left: 11.87rem;
    
}


.parte3-1 {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem; /* espaço entre imagem e posts populares */
    padding: 1.25rem 0 0 0; /* espaço vertical opcional */
    margin-bottom: 1.87rem;
                
}

.boxs-itens {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 0px 0px 0px 7.8rem;
    margin-left: 4rem;

}

.box-texto{
    border-radius: 0 0 0.6rem 0.6rem;
    box-shadow: 0px 0.25rem 0.5rem 0.06rem rgba(0,0,0,0.1);
    padding: 0.5rem;
}

.box-individual {
    display: flex;
    flex-direction: column;
    width: auto;
}

.list-category {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 10px;
    
}

.category {
    display: flex;
    flex-direction: column;
    width: 30%; /* mesma proporção total do lado da imagem + populares */
    padding-top: 1.25rem;
    padding-right: 10.6rem;
    padding-left: 1.25rem;
    
}

.category ul{
    padding-left: 0.93rem;
    margin-top: 2.5rem;
}

#barra-inferior{
    font-size: 0.87rem;
    text-align: center;
    font-weight: 500;
    padding: 0.93rem;
    background-color: #02a28f;
    color: #fff;
    margin-top: 1.25rem;
}


.retangulo-category{
    background-color: #02A28F;
    color: #fff;
    padding: 0.93rem;
    margin: 0;
    border-radius: 0.6rem;
    box-shadow: 0.05rem 0.025rem 0.05rem 0.06rem rgba(0, 0, 0, 0.2);
    
}



@media only screen and (max-width: 768px) {
    /* Ajustes gerais para telas menores */
    
    html {
        overflow-x: hidden;
      }
    
    
    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    h1 {
        font-size: 1.5rem;
    }

    .boxs-itens {

        grid-template-columns: 1fr;
        
    }

    .parte1 {
        background-color: #02A28F;
        text-align: center;
        padding: 0.5rem 1rem;
        margin: 0;
    }

    .parte2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 2rem;
    }

    #imagemtopo {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 0;
        display: block;
        margin: 0 auto;
    }

    .texto-sobre-imagem {
        position: static;
        text-align: center;
        margin-top: -3rem;
        padding: 0 1rem;
    }

    .parte2-1 {
        padding: 1rem;
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    .retangulo-posts {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        margin: 0 auto;
        border-radius: 0.6rem;
        box-shadow: 0.5rem 0.25rem 0.5rem 0.06rem rgba(0, 0, 0, 0.2);
    }

    .parte3 {
        flex-direction: column;
        padding: 1rem;
        gap: 2rem;
        align-items: center;
    
    }

    .parte3-1 {
        width: 100%;
        padding: 0 1rem;
        margin: 0;

    }


    .parte3-1 .retangulo-verde {
        width: 100%;
        padding: 1rem;
        margin: 0;

    }

    .parte3-1 .retangulo-verde-recentes {
        width: 100%;
        padding:1rem;
        margin: 0;

    }


    .retangulo-verde {
        margin: 0;
        width: 100%;
        font-size: 1rem;
        text-align: center;
        box-sizing: border-box;
        
    }

    .retangulo-verde-recentes {
        margin: 0;
        width: 100%;
        font-size: 0.5rem;
        text-align: center;
        box-sizing: border-box;
        
        
    }

    .retangulo-verde-recentes h2 {
        margin: 0;
        width: 100%;
        text-align: start;
        box-sizing: border-box;
         
    }

    .retangulo-verde-recentes h3 {
        margin: 0;
        width: 100%;
        text-align: end;
        
         
    }


    .boxs-itens {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 1.5rem;
    }

    .box-individual {
        width: 100%;
    }

    .box-individual img {
        width: 100%;
        height: auto;
        display: block;
    }

    .box-texto {
        padding: 0.8rem;
    }
    
    .category {
        width: 100%;
        padding: 0 1rem;
    }


    .retangulo-category {
        width: 100%;
        margin: 0 auto;
        font-size: 1rem;
        text-align: center;
    
    }

    .category ul {
        margin-top: 1rem;
    }

    span {
        color:#616161;
    }









}


    

    